@import '../../../assets/scss/helpers/variables.scss';
@import '../../../assets/scss/vendor/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.contact{
    max-width: 850px;
    margin: 0 auto 70px;
    padding: 30px 0;
    border-top: 4px solid $background-loader;
    border-bottom: 4px solid $background-loader;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__text{
        color: $color-title;
        font-family: $font-family-secondary;
        font-size: $font-size-body-content;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 0;
        flex: 0 0 60%;
    }
    @include media-breakpoint-down(sm) {
        display: block;
        margin:0px 15px 40px;
        text-align: center;
        &__text{
            margin-bottom: 20px;
            text-align: left;
        }
        &__button{
            margin: 0 auto;
        }
    }
    @include media-breakpoint-down(xs) {
        &__button{
            min-width: 100%;
            padding: 11px 20px;
        }
    }
}
