.loader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    z-index: 7;
    @media screen and (min-height: 500px) {
      justify-content: center;
      height: 100%;
    }
    &__banner{
      position: relative;
      width: 100%;
      height: calc(100vh - 224px);
      min-height: 250px;
      padding-top: 50px;
      max-height: 100vw;
      @include media-breakpoint-down(sm) {
        min-height: 150px;
      }
    }
    &__head{
      max-width: 400px;
      margin: auto;
      position: absolute;
      bottom: 48%;
      left: 0;
      right: 0;
      @include media-breakpoint-down(sm) {
          max-width: 310px;
      }
    }
    &__title{
        color: $color-primary;
        font-family: $font-family-primary;
        @include rem(font-size, 40px);
        @include rem(line-height, 38px);
        font-weight: bold;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;
        padding: 0 25px;
        margin: 0;
        @include media-breakpoint-down(sm) {
            @include rem(font-size, 30px);
            @include rem(line-height, 30px);
        }
    }
    &__bar{
      position: relative;
        margin: 0 auto;
        height: 52px;
        width: 100%;
        max-width: 279px;
        border: 4px solid $background-loader;
        background-color: $background-loader;
        border-radius: 26px;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
    }
    &__track{
      position: absolute;
        height: 44px;
        background-color: $color-loader;
        transition: width ease-in;
    }
}
