<section class="banner" *ngIf = "router == '/about'">
  <div class="container">
    <div class="banner__wrapper">
      <div class="banner__title-wrapper">
        <h1 class="banner__title">
          5 TIPS TO RUN<br>
A SCRUMPTIOUS <br>DAILY MEETING
        </h1>
        <span class="banner__subtitle">by</span><img src="../../../assets/images/about/bt_failfast_title.svg" class="banner__img-title">
      </div>
      <div class="banner__image-wrapper">
        <img class="banner__image" src="../../../assets/images/about/img_sofa.png" alt="About image">
      </div>
    </div>
  </div>
</section>
<section class="banner__pause" *ngIf = "router == '/landing'">
  <div class=""></div>
</section>
